@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.footer {
    font-family: 'NanumSquareNeo-Variable';
    left:0;
    bottom:0;
    padding: 0;
    width: auto;
    background-color: navy;
    text-align: center;
    color: white;
    line-height: 1.7;
    display:flex;
}

.footertext {
    display: flex;
    flex-direction:column;
    font-weight: bold;
}

#hheader{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 32px;
    margin-inline: 60px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.lisst1 {
    display: flex;
    font-size: 17px;
    font-weight: lighter;
    padding-right: 55px;
    padding-left: 70px;
    margin-inline: 20px;
    padding-bottom: 10px;
}

.lisst2 {
    display: flex;
    font-size: 17px;
    font-weight: lighter;
    padding-right: 33px;
    padding-left: 100px;
    margin-inline: 20px;
    padding-bottom: 10px;
}

.lisst3 {
    display: flex;
    font-size: 17px;
    font-weight: lighter;
    padding-right: 50px;
    padding-left: 100px;
    margin-inline: 15px;
}

.logoo{
    padding-bottom: 14%;
}

.logoo img{
    position: absolute;
    right:20px;
    height: 300px;
}
