.body1_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(236, 236, 239);
    height: 80px;
    padding-left: 80px;
    padding-right: 80px;
    width: au
}

.service_name{
    font-size: 70px;
    margin-left: 70px;
    
}

.sign_up button {
    /*background-color: rgb(42, 70, 114);*/
    background-color: navy;
    border: none;
    border-radius: 80px;
    color: white; 
    font-size: medium; 
    padding: 20px 30px;
}

.sign_up{
    display: flex;
    gap: 10px;
}

.team_name{
    font-size: 40px;
}

.first_time{
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.question{
    font-size: larger;
}




.body1_main{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(240, 242, 245);
    border-bottom: 1px solid rgb(239, 240, 245);
    width: auto;
}

.body1{
    margin: 0;
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}

.body1_mainsection{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding: 90px 80px;
}

.body1_mainsection img{
    width: 20cm;
    height: 10.5cm;
    margin: 0;
    max-width: 100%;
    padding: 14.5px 0px;
}

.introduce{
    font-size: 36.3px;
    margin: 0;
    padding: 0;
}

.body1_aside{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}




.body1_asidesection{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 244, 247);
    padding: 140px 100px;
    flex-grow: 1;
    width: auto;
}

.title{    
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: x-large;
}

.body1_inputs{
    display: flex;
    flex-direction: column;
    width: auto

}

.body1_inputs input {
    border-radius: 20px;
    border-width: 0px;
    height: 40px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.6); 
    color: rgb(4, 4, 4); 
    padding: 0px; 
    
}

.log_in{
    background-color: rgb(251, 250, 253); 
    border-width: 0;
    border-radius: 20px; 
    height: 40px; 
    margin: 4px;
}

.find_password{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 10px;
}

.log_in2{
    margin-left: 10px;
    margin-top: 20px;
    height: 20px;
}

.other_login{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.body1_buttons{
    display: flex;
    flex-direction: row;
    border-width: 0;
    justify-content: space-between;
}

.body1_buttons button{
    font-size: medium; 
    padding: 0px 35px;
    background-color: rgb(251, 250, 253); 
    border-width: 0; 
    border-radius: 5px; 
    height: 40px; 
    margin: 3px;

}



.body1_footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 2px solid rgb(55, 62, 103);
    width: auto;
}

.body1_mainsection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: rgb(33, 56, 94);*/
    background-color: navy;
    color: white;
}

.body1_asidesection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(232, 232, 241);
}

.body1_logo{
    flex-grow: 1;
    font-size: 60px;
    margin-left: 80px;
    margin-right: 80px;
}

.body1_text{
    height: 20px;
    margin-left: 30px;
    margin-top: 0;
}

.body1_aside_buttons3{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}

.body1_aside_buttons3 button {
    /*background-color: rgb(42, 70, 114);*/
    background-color: navy;
    border: none;
    border-radius: 30px;
    color: white; 
    font-size: medium; 
    padding: 20px 35px;
    margin-right: 22.5px;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.team_name,
.question,
.sign_up2,
.introduce,
.title,
.find_password,
.log_in,
.log_in2,
.other_login,
.body1_buttons button,
.body1_aside_buttons3 button {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
}






@keyframes circle_moving{
    0%{clip-path: circle(14.4% at 17% 19%);}
    30%{clip-path: circle(21.9% at 24% 49%);}
    50%{clip-path: circle(32.4% at 69% 76%);}
    80%{clip-path: circle(49.2% at 70% 40%);}
    100%{clip-path: circle(74.2% at 52% 53%);}

}

@keyframes fadeIn {
    from {
      opacity: 0; /* 투명 */
    }
    to {
      opacity: 1; /* 불투명 */
    }
  }
  @font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 
.fade-in {
    opacity: 0; /* 투명하게 설정 
    animation: fadeIn 1s ease forwards; /* fadeIn 애니메이션 적용 
    animation-delay: 2s; /* 2초 후에 애니메이션 시작 
  }
   */
.divmain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('main02.jpg');
    background-size: cover; /* 배경 이미지를 요소에 맞춤 */
    background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
    width: 100%;
    height: 400px;
    
    animation-name: circle_moving;
    animation-duration: 3s; 
    
}
.divmain::before {
    /* content: ''; /* 가상 요소를 생성 */
    /* position: absolute; /* 절대 위치로 설정 */ 
    /*top: 0; /* 위쪽에 붙임 */
    /* left: 0; /* 왼쪽에 붙임 */
    /* width: 100%; /* 너비 100% */
    /* height: 100%; /* 높이 100% */
    background-color: rgba(242, 242, 239, 0.5); /* 투명도를 가진 배경 색상 */
  }




.autolist1{
    opacity: 0;


    /* font-size: 70px;
    
    font-family: sans-serif;
    color: rgb(29, 29, 178); */

    
    animation-delay: 3s;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
.img01{
    display: flex;
    justify-content: center;

    
}
.div01{
    display: flex;
    justify-content: center;
    
}
.span01{
    
    padding: 90px 10px 20px 80px;
}
.span02{
    /* 출퇴근 하는 시간 */
    font-weight: 500;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 30px;

    
}
.span03{
    /* 직장인 평균 */
    font-family: 'NanumSquareNeo-Variable';
    font-size: 15px;
    font-style: italic;
}



.img02{
    display: flex;
    justify-content: center;
    /* animation: slide 2s; */
}
.div02{
    display: flex;
    justify-content: center;
}
.span04{
    padding: 80px 80px 80px 10px;
}
.span05{
    /* 출퇴근 하는 시간 */
    font-family: 'NanumSquareNeo-Variable';
    font-size: 30px;
    
}
.span06{
    /* 직장인 평균 */
    font-family: 'NanumSquareNeo-Variable';
    font-size: 15px;
    font-style: italic;
}




/*  */




/* 
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .text-block {
    flex-basis: 40%; /* 텍스트 영역의 크기를 조정할 수 있습니다. */
    padding-left: 100px;
    padding-right: 100px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
  }
  
  .image-block {
    flex-basis: 40%; /* 이미지 영역의 기본 크기를 줄입니다. */
    padding-left: 100px; /* 이미지와 텍스트 사이의 간격을 조정합니다. */
  }
  
  .title {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px; /* 타이틀과 서브타이틀 사이의 간격을 조정합니다. */
  }
  
  .subtitle {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 18px;
  }
  
  img {
    display: block;
    max-width: 100%; /* 이미지의 최대 너비를 설정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지합니다. */
  }